.dashboard{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section{
    display: flex;
    align-items:flex-start;
    gap: 14px;
}

.date{
    display: flex;
    align-items: center;
    gap: 8px;
}

.date p{
    color: #000;
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 1024px) {

    .dashboard .section:nth-of-type(2){
        flex-direction: column;
    }
    
}

@media screen and (max-width: 568px) {

    .section{
        flex-direction: column;
    }
    
}
