:root {
  /* COLORS */

  --blue: #4A69E2;
  --yellow: #FFA52F;
  --white: #FFF;
  --fa--white: #FAFAFA;
  --gray: #E7E7E3;
  --gray-main: #70706E;
  --dark-gray: #232321;
  --neutrals-gray-2: #D2D1D3;
  --neutrals-gray-5: #8F8C91;
  --neutrals-gray-9: #36323B;
}

/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html{
  font-size:62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input {
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder { font: inherit; }

.recharts-cartesian-axis-tick {    
  color: black;
  font-family: var(--font-inter);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20.87px; /* 129.412% */
}