.navbar{
    width: 100%;

    display: flex;
    justify-content: flex-end;

    padding: 32px 60px;

    border-bottom: 1px solid rgba(35, 35, 33, 0.20);
    background: #FAFAFA;
}

.button{
    z-index: 10;
    position: relative;

    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 8px;
    border: 1px solid #1C1C1A;
}

.main{
    color: #1C1C1A;
    font-family: var(--font-rubik);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.button svg{
    width: 16px;
    height: 16px;
}

.modal{
    z-index: 1000;
    width: 233px;
    height: 100px;

    position: absolute;
    bottom: -150px;
    right: 0;

    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    padding: 16px;

    border-radius: 8px;
    border: 1px solid var(--gray);
    background: var(--white);

    cursor: default;
}

.modal.active{
    display: flex;
}

.modal.disable{
    display: none;
}

.title{
    color: var(--dark-gray);
    font-family: var(--font-rubik);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 8px 0px;

    cursor: pointer;
}

.actions p{
    color: var(--dark-gray);
    font-family: var(--font-inter);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {

    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    
}

@media screen and (max-width: 568px) {

    .navbar{
        padding: 16px 30px;
    }

    .modal{
        bottom: -134px;
    }
    
}