.sidebar{
    flex: 1;

    min-height: 100vh;

    border-right: 1px solid rgba(35, 35, 33, 0.20);
    background: var(--fa--white);
}

.sidebar.mobile.active{
    left: 0;
}

.sidebar.mobile{
    display: block;
    
    position: fixed;
    z-index: 1005;
    width: 30vw;
    overflow-y: hidden;
    left: -30vw;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: 0.3s;
}

.closeButton{
   position: absolute;
   left: 10px;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px 70px;
}

.logo{
    position: relative;
    width: 128px;
    height: 32px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.mainContainer{
    padding: 10px 24px;
}

.tabs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    list-style: none;
}

.tab{
    width: 100%;
    display: flex;
    height: 48px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;

    border-radius: 8px;

    cursor: pointer;
}

.tab.active{
    background: var(--Blue, #4A69E2);
}

.tab p{
    color: var(--dark-gray);
    font-family: var(--font-rubik);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.tab svg{
    width: 16px;
    height: 16px;
}

.tab.active svg path{
    stroke: white;
}

.tab.active p{
    color: var(--white);
}

@media screen and (max-width: 1200px) {

    .sidebar{
        display: none;
    }
    
}

@media screen and (max-width: 1024px) {

    .sidebar.mobile{
        width: 45vw;  
        left: -45vw;
    }
    
}

@media screen and (max-width: 768px) {

    .sidebar.mobile{
        width: 55vw;  
        left: -55vw;
    }
    
}

@media screen and (max-width: 568px) {

    .sidebar.mobile{
        width: 100vw;  
        left: -100vw;
    }
    
}