.order{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderDetails{
    padding: 24px 16px;
    border-radius: 16px;
    background: var(--white);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title{
    display: flex;
    align-items: center;
    gap: 24px;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;

    border-radius: 8px;
    background: rgba(255, 165, 47, 0.80);

    color: var(--dark-gray);
    font-family: var(--font-open-sans);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.status.delivered{
    color: var(--white);
    background: var(--blue);
}

.orderId{
    color: var(--dark-gray);
    font-family: var(--font-rubik);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date{
    display: flex;
    align-items: center;
    gap: 8px;
}

.date p{
    color: #000;
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.action{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.action label{
    color: var(--dark-gray);
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputSelect{
    width: 100%;

    padding: 16px;
    border: none;

    appearance: none; 
    cursor: pointer;

    border-radius: 8px;
    background-color: #F4F2F2;
    
    color: var(--dark-gray);
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
  
.inputSelect::-ms-expand{
    display: none;
}
  
.inputSelect option {
    padding: 16px;
}

.inputSelect option:first-child{
    display: none;
}

.saveButton{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

    border-radius: 8px;
    background: #F4F2F2;

    color: var(--dark-gray);
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
}

.information{
    display: flex;
    gap: 16px;
}

.infoCard{
    flex: 1;
    
    padding: 16px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    border-radius: 16px;
    border: 1px solid var(--gray-main);
    background: #FFF;
}

.cardIcon{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;

    border-radius: 8px;
    background: var(--blue);
}

.cardIcon svg{
    width: 24px;
    height: 24px;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardTitle{
    color: var(--dark-gray);
    font-family: var(--font-rubik);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardCotent{
    color: var(--gray-main);
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orderTable{
    padding: 24px 16px;

    border-radius: 16px;
    background: var(--white);
}

.title{
    color: #000;
    font-family: var(--font-rubik);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.separator{
    margin: 16px 0;
    width: 100%;
    height: 0.5px;
    background: rgba(35, 35, 33, 0.20);
}

.table{
    width: 100%;
    border-spacing: 0;
}

.tableHeader{
    width: 23%;

    color: rgba(35, 35, 33, 0.80);

    font-family: var(--font-rubik);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    opacity: 0.8;
    padding: 16px 8px;

    border-bottom: 0.5px solid rgba(35, 35, 33, 0.20);
}

.tableHeader:first-child{
    text-align: left;
    width: 30%;
}

.tableHeader:last-child{
    text-align: right;
}

.tableData{
    color: #000;
    text-align: center;
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 32px 8px 16px 8px;

    border-bottom: 0.5px solid rgba(35, 35, 33, 0.20);
}

.tableData:first-child{
    text-align: left;
}

.tableData:last-child{
    text-align: right;
}

.product{
    display: flex;
    align-items: center;
    gap: 16px;
}

.checkBox{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 8px;
}

.checkBox input{
    width: 25px;
    height: 25px;
}

.product img{
    border-radius: 8px;
}

.bottomContainer{
    margin-top: 16px;

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.TotalAmountContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.itemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag{
    color: var(--dark-gray);
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.itemContainer:last-child .tag{
    font-size: 2.4rem;
}


@media screen and (max-width: 1024px) {

    .information{
        flex-direction: column;
    }

    .ordersTable{
        width: 100%;
    }

    .table tr:nth-of-type(odd){
        background-color: var(--gray);
    }

    .table th {
        display: none;
    }

    .table td {
        display: flex;
        align-items: center;
        gap: 16px;
    } 

    .table td .checkBox{
        display: none;
    }
      
    .table td::before {
        content: attr(label);
        color: rgba(35, 35, 33, 0.80);

        font-family: var(--font-rubik);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    
        opacity: 0.8;
    }

    .bottomContainer{
        justify-content: flex-start;
    }

    .TotalAmountContainer{
        width: 50%;
    }
    
}

@media screen and (max-width: 768px) {

    .information{
        flex-direction: column;
    }

    .bar{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .actions{
        flex-direction: column;
        align-items: flex-start;
    }

    .TotalAmountContainer{
        width: 100%;
    }
    
}

@media screen and (max-width: 568px){

    .header{
        gap: 16px;
    }

    .title{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .infoCard{
        flex-direction: column;
    }

    .product img{
        display: none;
    }
}